.im
{
  grid-area: img;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.panel
{
  
  grid-area:pan;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  justify-content:space-between;
  align-items: stretch;
  background-color: #448D76;
  /* color: #FCBA12; */
  /* font-weight: lighter; */
}

.empty
{
display: flex;
flex-grow: 1;
justify-content: center;
}

.logo
{
  /* width: 100%; */
  /* margin: 0px 20px 0px 20px; */
  text-align: center;
  flex-grow: 1;
  justify-content: center;
  align-content: flex-end;
  color: #FCBA12;
}

.social
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.social-list
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 5px; */
}

.textbox
{
  display:block;
  /* flex-direction: row;
  flex-wrap:nowrap; */
  margin: 5px;
  padding: 5px;
  justify-content: start;
  text-align: left;
  line-height: 30px;
}



.main
{
  grid-area: man;
  width: 100%;
  height: 100%;
  /* margin: 10px; */
  /* padding: 10px; */
  /* border: 1px solid black; */
}

.side
{
  grid-area: sid;
  width: 100%;
  height: 100%;
  /* margin: 10%; */
  /* padding: 10px; */
  /* border: 1px solid red; */
}


h1
{
  font-size: 50px;
  /* color: antiquewhite; */
  /* position: absolute; */
  /* top: 3px; right: 200px; */
  /* z-index: 2; */
  /* background-color: cadetblue; */
  /* opacity: 80%; */
  /* margin: auto 0% auto 0%; */
  /* padding: auto; */
  /* width: 70%; */
  font-weight: lighter;
  justify-content: center;
}

.section
{
  grid-area: sec;
  width: 100%;
  height: auto;
  display: block;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  align-items: center;
  justify-content: center;
}

.div-1
{
  width: 100%;
  height: 50%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  align-items: stretch;
}

.art
{
width: 50%;
padding: 10px;
margin: 10px;
justify-content: center;
}
.topic
{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #093426;
}

.topic:hover {
  box-shadow: 0 0 2px 1px #AE0D7A;
}

#footer
  {
    grid-area: fot;
    width: 100%;
    height: 100%;
    background-color: #093426;
    margin: 0px 0px 0px 0px;

  }

.foot-div
  {
    display: flex;
    height: 90%;
    justify-content: start;
    align-items: center;
    color: #FCBA12;
  }


/* footer p
  {
    margin: 35px 10px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
  } */



/* footer img
  {
    margin: 30px 0px 0px 20px;
  } */