.gallery-page {
  background-color: #093426;
  width: 100%;
}

.gallery {
  width: 100%;
  display: block;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 275px 275px 275px;
  margin: 10px auto 20px;
  max-width: 186vh;
}

@media (min-width: 700px) {
  .gallery {
      width: 100%;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 275px 275px 275px;
      margin: 10px auto 20px;
      max-width: 186vh;
  }
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.gallery a:nth-child(2) {
  grid-column: auto / span 3;
}

.gallery a:nth-child(3) {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.gallery a:nth-child(4) {
  grid-column: auto / span 2;
}

.gallery a:nth-child(5) {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.gallery a:nth-child(4) {
  grid-column: auto / span 2;
}

.gallery a:nth-child(6) {
  grid-column: auto / span 2;
}

.gallery a:nth-child(8) {
  grid-column: auto / span 3;
}

.gallery a:nth-child(9) {
  grid-column: auto / span 2;
}

.gallery a:nth-child(10) {
  grid-column: auto / span 2;
}

.gallery img:hover {
  box-shadow: 0 0 2px 1px #ae0d7a;
  border: 2px solid #0a3409;
  padding: 5px;
}
